<div class="col-md-4"></div>
<div class="col-md-4">
<h4><%= t('view.edit') %></h4>
<%= link_to '一覧', admin_labels_path, class: "btn btn-default"  %>
<%= render 'form' %>
</div>
<div class="col-md-4"></div>
