// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin-top: 10px;
}

.panel {
  margin-top: 30px;
}

.well {
  padding: 5px 0 15px 0;
  background-color: #ADD8E6;
}

.btn {
  opacity: 0.9;
}

.btn-sm {
  opacity: 0.9;
}

.new_task_btn {
  float: left;
}

.input-group {
  float: left;
  margin: 0px 10px 10px 50px;
  width: 300px;
}

.dropdown {
  float: left;
  margin: 0px 0px 0px 20px;
  width: 300px;
}

.search_btn {
  margin: 0px 0 0 10px;
}

.pagination {
  justify-content: center;
}
